/* Genel Ayarlar */
.App {
  min-height: 100vh;
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Okunabilirlik için siyah filtre */
.overlay {
  background-color: rgba(0, 0, 0, 0.4); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Dinamik Arka Planlar */
.sunny {
  background-image: url('../public/sunny.jpg');
}

.cloudy {
  background-image: url('../public/cloudy.jpg');
}

.rainy {
  background-image: url('../public/rainy.jpg');
}

.snowy {
  background-image: url('../public/snowy.jpg');
}